.flexy-menu
{
	display: none;
}

@media screen and (max-width:1024px)
{
	.field_dsphieu
	{
		width: 97.5% !important;
	}

	.field_thanhtoan
	{
		width: 97.5% !important;
	}

	.info_table .info_table_td
	{
		min-width: 85px;
	}

	.field_tt
	{
		float: none !important;
		margin-right: 0px !important;
	}

	.home_box
	{
		width: 170px;
	}

	.box_text_header
	{
		font-size: 11px;
	}

	.col-md-8
	{
		width: 91% !important;
	}

	.col-md-4
	{
		display: none !important;
		width: 22% !important;
	}

	.panel-body
	{
		width: 77% !important;
		padding: 27px !important;
	}

	#main-content
	{
		/*min-width: 1024px !important;*/
	}

	.topmenu a
	{
		font-size: 11px !important;
	}
}

@media screen and (max-width:960px)
{
	#graph
	{
		display: none !important;
	}

	.hiddenipad
	{
		display: none !important;
	}

	.grid_dm_dv
	{
		width: 100% !important;
	}

	body *
	{
		font-size: 11px;
	}

	.ddlMathang
	{
		width: 200px !important;
	}

	.td_0_ipad
	{
		min-width: 0px !important;
	}

	.li_ipad
	{
		clear: both !important;
	}

	/*.text_title
	{
		padding: 4px;
	}*/
	.btnphieuthu
	{
		bottom: 0px !important;
	}

	.dateedit_ipad
	{
		width: 100px !important;
	}

	.box_lichhen
	{
		float: none;
		margin-right: 0px;
	}

	.box_lichhen_ipad
	{
		width: 98% !important;
	}

	.clearboth_ipad
	{
		clear: both;
	}

	.home_box
	{
		height: 148px !important;
		width: 261px !important;
	}

	.box_text_header
	{
		font-size: 14px;
	}

	.home_box_top
	{
		margin-left: 73px;
		height: auto;
		width: auto;
	}

	ul#css3menu_top .submenu
	{
		width: 200px !important;
		position: relative !important;
	}

	#css3menu_top
	{
		display: none !important;
	}

	.flexy-menu
	{
		display: inline !important;
	}
	.report_ipad{
		width: 800px !important;
		margin: 0px !important;
	}
}
