GO
/****** Object:  StoredProcedure [dbo].[sp_Select_Nhanvien_Kythuat_Auto_ByTime]    Script Date: 8/31/2020 10:17:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[sp_Select_Nhanvien_Kythuat_Auto_ByTime]
@d_Ngay as date='2016-08-16'
as
Begin
   Select nv_Hoten_vn ,QT_DM_NHANVIEN.uId_Nhanvien as uId_Nhanvien_Kythuat 
   from 
   --[DM_CALAMVIEC] 
   --inner join 
   QT_DM_NHANVIEN 
   --on QT_DM_NHANVIEN.uId_Nhanvien= DM_CALAMVIEC.uId_Nhanvien
   inner join [PQP_NHANVIEN_PHONG] on [PQP_NHANVIEN_PHONG].uId_Nhanvien=QT_DM_NHANVIEN.uId_Nhanvien
   where
   --CONVERT(INT,d_Tugio)<=DATEPART(HH,CONVERT(char(5), GETDATE(), 108)) 
   --and CONVERT(INT,d_Dengio)>=DATEPART(HH,CONVERT(char(5),GETDATE(), 108))
   --and DATEDIFF(DAY,[DM_CALAMVIEC].d_Ngay,@d_Ngay)=0
   --and 
   [PQP_NHANVIEN_PHONG].[uId_Phongban]='53D2B838-DA94-4665-87A4-773EB941681C'
   and QT_DM_NHANVIEN.uId_Nhanvien not in (Select uId_Nhanvien_Kythuat from Appointments where DATEDIFF(DAY,StartDate,@d_Ngay)=0 AND DATEDIFF(HOUR,StartDate,@d_Ngay)>=0 and DATEDIFF(HOUR,@d_Ngay,EndDate)>=0)
   -- and v_Calamviec<>'0'
   -- Order by [DM_CALAMVIEC].d_Time ASC
End
