GO
/****** Object:  StoredProcedure [dbo].[sp_Select_Nhanvien_By_Phong]    Script Date: 9/1/2020 1:20:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER proc [dbo].[sp_Select_Nhanvien_By_Phong]
@uId_Phong varchar(50)='53D2B838-DA94-4665-87A4-773EB941681C'
as
Begin
    Select nv.uId_Nhanvien,nv.nv_Hoten_vn, ResourceId from QT_DM_NHANVIEN nv inner join [PQP_NHANVIEN_PHONG] pnv on pnv.uId_Nhanvien= nv.uId_Nhanvien 
    Where pnv.uId_Phongban=@uId_Phong
    Order by nv_Hoten_vn
End
